/////////////////////////////
///////// HOME PAGE /////////


/*************************/
/**** HEADING SECTION ****/
/*************************/

.top-header {
    background: url(../img/sections/home-top-background.jpg) top center no-repeat;
    background-size: cover;
    min-height: 475px;
    //Contact page
    &.countact-us-header {
        background: url(../img/sections/section-6.jpg) top center no-repeat;
        background-size: cover;
    }
    // Portfolio page\
    &.portfolio-header {
        background: url(../img/sections/section-7.jpg) top center no-repeat;
        background-size: cover;
    }
    &.home-header {
        min-height: 800px;
    }
    .header-container {
        position: relative;
        z-index: 2;
        .header-title {
            text-align: center;
            padding-top: 215px;
            padding-bottom: 30px;
            .header-icon {
                display: block;
                margin: 0 auto 15px;
                .icon {
                    font-size: 40px;
                    color: #fff;
                }
            }
            .title {
                font-size: 38px;
                margin-bottom: 5px;
                color: #fff;
                text-transform: uppercase;
            }
            em {
                font-size: 16px;
                color:  #999999;
            }
        }
    }
    .wrap-section-slider {
        min-height: 800px;
        max-width: none !important;
        .sp-mask {
            height: 800px !important;
            width: 100% !important;
            background: #333;
        }
        .sp-slides-container {
            min-height: 800px;
        }
        .sp-layer {
            position: relative;
        }
        .slide-item {
            position: absolute;
            height: 800px !important;
            width: 100% !important;
            .slide-image {
                background: #000;
                height: 900px;
                overflow: hidden;
                img {
                    opacity: 0.5;
                    min-height: 100%;
                }
            }
            .slide-content {
                padding-top: 250px;
            }
        }
    }
}


/******************************/
/**** FEATURES SECTION ****/
/******************************/

.features-section {
    padding: 0 0 40px;
    &.about-features-section {
        padding-top: 70px;
    }
}

/******************************/
/**** LAPTOP SECTION ****/
/******************************/
.laptops-section {
    padding: 30px 0 60px;
    .laptops {
        margin-bottom: 40px;
    }
}


/******************************/
/**** AREAS SECTION ****/
/******************************/
.areas-section {
    padding: 150px 0 80px;
    &.service-areas-section {
        padding-top: 40px;
    }
    .above-title {
        font-size: 18px;
        color: #666666;
        text-transform: uppercase;
    }
    h4 {
        color: #333333;
        margin-top: 10px;
        font-weight: bold;
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    em {
        font-size: 16px;
        display: inline-block;
        margin-bottom: 15px;
    }
    .design-arrow {
        margin-bottom: 45px; 
    }
    p.large {
        font-weight: 500;
        margin-bottom: 20px;
    }
}

/******************************/
/**** ACHIEVEMENTS SECTION ****/
/******************************/

.achievements-section {
    padding: 100px 0 200px;
    background: url(../img/sections/section-1.jpg) center no-repeat;
    background-size: cover; 
}

/******************************/
/**** LATEST WORKS SECTION ****/
/******************************/

.latest-works-section {
    padding-bottom: 100px;
    .scroll-pane {
        overflow: auto;
        width: 100%;
        float: left;
        .scroll-content {
            display: table !important;
            float: left;
            margin-bottom: 60px;
        }
        .scroll-content-item {
            display: table-cell;
            margin: 0;
            position: relative; 
            cursor: pointer;
            &:hover {
                .scroll-content-body {
                    opacity: 1;
                }
            }
            img {
                width: auto;
                height: 350px;
                vertical-align: middle;
            }
            .scroll-content-body {
                background: rgba(0,0,0,0.8);
                @include transition(all 0.3s ease-out);
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                .name {
                    position: absolute;
                    bottom: 25px;
                    left: 25px;
                    color: #fff;
                    font-size: 12px;
                    text-transform: uppercase;
                    &:before {
                        margin-bottom: 15px;
                        content: ""; 
                        width: 12px;
                        height: 12px;
                        border: 2px solid $orange; 
                        @include border-radius(50%);
                        display: block;
                    }
                }
            }
        }

        .scroll-bar-wrap {
            clear: left;
            margin: 50px auto;
            .scroll-bar {
                margin: 0 auto;
                max-width: 400px;
                .ui-handle-helper-parent {
                    width: 100% !important;
                    height: 14px;
                    background: #e6e9ed;
                    border: 1px solid #eeeeee;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    @include border-radius(14px);
                    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 1);
                    -moz-box-shadow:    inset 0px 0px 0px 3px rgba(255, 255, 255, 1);
                    box-shadow:         inset 0px 0px 0px 3px rgba(255, 255, 255, 1);
                }

                .ui-slider-handle {
                    height: 24px;
                    width: 24px !important;
                    margin: -4px 0 -4px -12px !important;
                    @include border-radius(50%);
                    border: 1px solid #CECECE;
                    background: #fff;
                    display: block;
                    position: relative;
                    cursor: pointer;
                }
            }
        }
    }
}

/******************************/
/**** STEPS SECTION ****/
/******************************/

.steps-section {
    padding: 80px 0 40px 0;   
    background: url(../img/sections/section-4.jpg) top center no-repeat;
    .results-container {
        .skills {
            li {
                background-color: #eff2f7;
                height: 5px;
                margin-top: 35px;
                margin-bottom: 55px; 
                position: relative;
                &.orange {
                    .progress  {
                        background: $orange; 
                    }
                }
                > span { 
                    color: #333333;
                    font-weight: normal;
                    left: 0;
                    font-size: 11px;
                    text-transform: uppercase;
                    position: absolute;
                    top: -26px;
                    z-index: 1;
                }
                .progress {
                    background-color: #666666;
                    height: 100%;
                    left: 0;
                    overflow: visible !important;
                    position: absolute;
                    top: 0;
                    -webkit-transition: width 1.2s ease-in-out 0s;
                    -o-transition: width 1.2s ease-in-out 0s;
                    transition: width 1.2s ease-in-out 0s;
                    width: 0;
                    .progress-percent {
                        color: #666;
                        font-size: 11px;
                        height: 20px;
                        line-height: 20px;
                        position: absolute;
                        right: 0;
                        top: -28px;
                    }
                }
            }

        }
    }
}

/*****************************/
/****** SERVICES SECTION *****/
/*****************************/

.services-section {
    padding: 30px 0 60px;
    .services-divider {
        .col-md-4 {
            margin: 15px 0;
            &:after {
                content: "";
                display: block;
                border-bottom: 1px solid #eff2f7;
            } 
        }
    }
    &.service-service-section {
        background: url(../img/sections/section-9.jpg) center no-repeat;
        background-size: cover;
        padding: 40px 0 140px;
        .services-divider {
            .col-md-4::after {
                border-color: #444444 !important; 
            }
        }
        .service-item {
            &:hover, &.active {
                .wrap-service-icon {
                    .service-icon {
                        background: $orange;
                        color: #fff;
                    }
                }
            }
            .wrap-service-icon {
                width: 82px;
                height: 82px;
                line-height: 82px;
                background: none;
                border: 5px solid #fff;
                padding: 0;
                .service-icon {
                    background: none;
                    width: 72px;
                    height: 72px;
                    border: none;
                }
            }
            h5 {
                color: #fff;
            }
            p {
                color: #999999;
            }
        }
    }
}

/*****************************/
/******* VIDEO SECTION *******/
/*****************************/

.video-section {
    padding: 100px 0 180px;
    position: relative;
    .video-play {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .title {
        font-family: Raleway, sans-serif;
        font-size: 40px;
        margin-bottom: 10px;
        color: #fff;
        font-weight: 100;
    }
    em {
        font-size: 16px;
    }
    .btn-play {
        display: block;
        margin: 30px auto 40px;
        font-size: 72px;
        color: #ff6400;
        background: none; 
        border: none;
        box-shadow: none;
        width: 73px;
        height: 73px;
        background: url(../img/btn-play.png) center no-repeat;
        background-size: 100%;
    }
    .duration {
        color: #dddddd;
        font-size: 14px;

    }

}

/*****************************/
/******* TEAM SECTION ********/
/*****************************/

.team-section {
    padding: 0 0 100px 0;
}


/*****************************/
/**** TEAM SECTION ****/
/*****************************/
.team-section {
    .team-slider {
        margin-bottom: -120px;
    }
}


/*****************************/
/**** REVIEWS SECTION ****/
/*****************************/
.reviews-section {
    padding: 40px 0 130px;
    &.with-top-effect {
        padding-top: 140px;
        padding-bottom: 90px;
    }
}

/*****************************/
/**** PRICE SECTION ****/
/*****************************/

.price-section {
    padding: 100px 0 80px;
    position: relative;
    .pricing-background {
        position: absolute;
        top: 0;
        width: 100%;
        height: 520px;
        background: url(../img/sections/section-5.jpg) center no-repeat;
        background-size: cover;
    }
    .section-heading {
        margin-bottom: 30px;  
    } 
    .section-title {
        color: #fff;
    }
    .section-subtitle {
        color: #fff;
    }
    .dark-content {
        position: relative;
        z-index: 15;
    }
    .plans-list {
        font-size: 0;
        .col-md-4 {
            max-width: 300px;
            margin-bottom: 15px;
        }
        * {
            font-size: 14px; 
        }
    }
}

/*****************************/
/**** LATEST NEWS SECTION ****/
/*****************************/

.latest-news-section {
    &.with-top-effect {
        padding-top: 120px;
    }
    padding: 0 0 50px;
}

/******************************/
/**** SLIDER SECTION ****/
/******************************/

.slider-section { 
    padding: 90px 0 180px;
    background: url(../img/sections/section-3.jpg) bottom center no-repeat;
    background-size: cover; 
    .wrap-section-slider {
        .slide-item {
            max-width: 870px;
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}


/******************************/
/**** CLIENTS SECTION ****/
/******************************/

.clients-section {
    padding-bottom: 120px;
    .list-clients {
        padding: 30px 0 15px;
        text-align: center;
    }
}



////////////////////////////////
///////// CONTACT PAGE /////////

/******************************/
/*******  MAP SECTION *********/
/******************************/
.contact-map-section {
    .map {
        height: 300px;
    }
}

/******************************/
/****  CONTACT US SECTION  ****/
/******************************/

.countact-us-section {
    padding: 30px 0 120px; 
    &.contact-us-reverse-section {
        .contact-block-heading {

            em {
                margin-bottom: 15px; 
                display: block;
            } 
        }
        .contact-form {
            h5 {
                font-size: 16px;
                line-height: 24px;
            }
        }
        .contact-block {
            margin-bottom: 30px;
            .contacts-list {
                .col-md-12 {
                    padding: 15px;
                    border-bottom: 1px solid #eeeeee;
                }
            }
        }
    }
    .contact-form {
        margin-bottom: 15px;
        textarea.form-control {
            min-height: 155px;
            resize: none;
            margin-bottom: 30px;
        }
        .form-heading {
            em {
                margin-bottom: 15px; 
                display: block;
            }
        }
    }
    .contact-map {
        height: 370px;
        width: 100%;
        margin-bottom: 30px;
        > div {
            height: 370px;
        }
    }

    .contact-block {
        .type-info {
            color: #2a2d32;
            font-size: 12px;
            line-height : 24px;
            text-transform: uppercase;
            i {
                min-width: 20px;
                font-size: 14px;
                color: $orange;  
                display: inline-block;
                vertical-align: baseline;
            }
        }
        .info {
            color: #666666;
            font-family: Raleway, serif;
        }
    }
    .socials-list {
        padding-top: 60px;
        .social-item {
            line-height: 50px;
            margin-left: -15px;
            margin-right: -15px;
            display: block;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
            text-align: center;
            text-decoration: none;
            &.facebook-item {
                background: #3c66c4;
                &:hover {
                    background: darken(#3c66c4, 10%);
                }
            }
            &.twitter-item {
                background: #33ccff;
                &:hover {
                    background: darken(#33ccff, 10%);
                }
            }
            &.google-plus-item {
                background: #cf4332;
                &:hover {
                    background: darken(#cf4332, 10%);
                }
            }
            &.linkedin-item {
                background: #0086b6;
                &:hover {
                    background: darken(#0086b6, 10%);
                }
            }
            &.pinterest-item {
                background: #e02329;
                &:hover {
                    background: darken(#e02329, 10%);
                }
            }
            &.behance-item {
                background: #2a5afc;
                &:hover {
                    background: darken(#2a5afc, 10%);
                }
            }
        }
    }
}

//////////////////////////////////
///////// PORTFOLIO PAGE /////////

/******************************/
/*** PORTFOLIO LIST SECTION ***/
/******************************/

.portfolio-list-section {
    padding: 0 0 130px 0;
    .list-works {
        padding-top: 30px;
        &.mini-list-works {
            margin-bottom: 50px; 
            .portfolio-item .portfolio-image img {
                height: 250px;
            }
        }
    }
}


// Beautiful ideas section
.beautiful-ideas-section {
    padding: 80px 0 0 0;
    border-top: 1px solid #eff2f7; 
    .mac-image {
        margin-bottom: -15px;
    }
}

// Related project
.portfolio-related-projects-section {
    padding-top: 120px;
    padding-bottom: 130px;
    .list-works {
        padding-top: 30px;
    }
}
// Portfolio single section
.portfolio-single-section {
    padding-bottom: 70px;
    padding-top: 40px;
    .work-heading {
        position: relative;
        margin-bottom: 40px;
        padding-right: 75px;
        .category {
            font-size: 12px; 
            color: #999999;
            font-family: Raleway, serif;
            margin-bottom: 5px;
        }
        .views {
            .icon {
                font-size: 16px;
                color: #666666;
                margin-right: 5px;
                vertical-align: middle;
                display: inline-block;
            }
            span:not(.icon) {
                font-size: 12px;
                color: #999999;
                vertical-align: middle;
                display: inline-block;
                font-family: Raleway, serif;
            }
        }
        .controls {
            position: absolute;
            right: 0;
            top: 0;
            ul {
                li {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 5px;
                    a {
                        line-height: 24px;
                        &:hover {
                            .fa {
                                color: $orange;
                            }
                        }
                        .fa {
                            font-size: 24px;
                            color: #cccccc;
                            line-height: 24px;
                            &.fa-th {
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
    .work-image {
        margin-bottom: 60px;
        .image {
            text-align: center;
            position: relative;
            img {
                max-width: 100%;
            }
            .controls {
                position: absolute;
                bottom: 30px;
                right: 30px;
                .big-view {
                    a {
                        display: block;
                        width: 40px;
                        height: 40px;
                        @include border-radius(50%);
                        background: $orange;
                        color: #fff;
                        text-align: center;
                        line-height: 44px;
                        text-decoration: none;
                        @include transition(all 0.3s ease-out);
                        &:hover {
                            background: darken($orange, 10%);
                        }
                        span {
                            color: #fff;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .work-body {
        margin-bottom: 15px;
        .work-body-left, .work-body-right {
            margin-bottom: 30px;
        }
        .summary-list {
            .col-md-12 {
                padding: 15px; 
                border-bottom: 1px solid #eeeeee;
                &:first-child {
                    padding-top: 0;
                }
            }
            .type-info {
                color: #2a2d32;
                font-size: 12px;
                line-height : 24px;
                font-weight: bold;
                text-transform: uppercase;
                i {
                    min-width: 20px;
                    font-size: 14px;
                    color: #666666;  
                    display: inline-block;
                    vertical-align: baseline;
                }
            }
            .info {
                color: #666666;
                font-family: Raleway, serif;
                .list-socials {
                    li {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 3px;
                        a {
                            color: #7e848e;
                        }
                    }
                }
            } 
        }
    }
}



//////////////////////////////////
///////// ABOUT PAGE /////////////

// Section history

.history-section {


}
.about-header {
    background: url(../img/sections/section-8.jpg) center no-repeat;
    background-size: cover; 
}
// Create idea section

.create-ideas-section {
    padding-top: 120px;
    .idea-image {
        text-align: center;
        padding-top: 30px;  
        img {
            max-width: 100%;
            margin-bottom: -15px;
        }
    }
}



//////////////////////////////////
///////// SERVICES PAGE //////////

.services-header {
    background: url(../img/sections/section-8.jpg) center no-repeat;
    background-size: cover; 
}

// Core features
.core-features-section {
    padding: 0 0 100px;
}


// Offers section 
.offers-section {
    padding: 80px 0;
    .offers-list {
        padding-top: 30px;
    }
}
.offers-section {
    border-top: 1px solid #eff2f7;
    .col-image img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .text-item {
        position: relative;
        margin-bottom: 57px;
        &:after {
            position: absolute;
            content: '';
            top: 3px;
            right: -10px;
            width: 10px;
            height: 10px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: $orange;
        }
        h5 {
            font-size: 14px;
            margin-bottom: 10px; 
            &:after {
                display: none;
            }
        }
        em {
            margin-bottom: 10px;
            display: block;
        }
        .dot-line {
            position: absolute;
            top: 6px;
            width: 82px;
            height: 5px;
            right: -111px;
            border-top: 1px solid #e7e8ec;
            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: -3px;
                width: 5px;
                height: 5px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background: #e7e8ec;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: -3px;
                width: 5px;
                height: 5px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background: #e7e8ec;
            }
        }
        &.left-item {
            text-align: right;
            padding-right: 20px;
        }
        &.right-item {
            padding-left: 20px;
            &:after {
                left: -10px;
                right: auto;
            }
            .dot-line {
                left: -111px;
                right: auto;
            }
            &.middle-item .dot-line {
                width: 18px;
                left: -39px;
            }
        }
        &.top-item {
            margin-bottom: 55px;
            &:after {
                top: 21px;
            }
            .dot-line {
                top: 25px;
            }
        }
        &.middle-item {
            margin-bottom: 50px;
            .dot-line {
                top: 22px;
                width: 18px;
                right: -39px;
            }
            &:after {
                top: 17px;
            }
        }
        &.bottom-item {
            .dot-line {
                top: 22px;
            }
            &:after {
                top: 17px;
            }
        }
    }
}

.service-browse-section {
    text-align: center;
    img {
        margin-bottom: -40px;
    }
}


///////// SERVICES PAGE //////////
//////////////////////////////////

// Blog header
.blog-header {
    background: url(../img/sections/section-10.jpg) center no-repeat;
    background-size: cover; 
}


// BLOG CONTENT

.blog-content-section {
    padding: 100px 0 100px 0;

    // Left blog column
    .left-column {
        .wrap-blog-post {
            margin-bottom: 40px; 
            .carousel { 
                .carousel-control {
                    width: 50px;
                    height: 50px;
                    top: 50%;
                    background: #333;
                    bottom: auto;
                    background: rgba(0, 0, 0, 0.4);
                    margin-top: -25px;
                    .fa {
                        line-height: 50px;
                        text-align: center;
                        font-size: 30px;
                    }
                    &.left {
                        left: 0;
                        -moz-border-radius-topright: 3px;
                        -webkit-border-top-right-radius: 3px;
                        border-top-right-radius: 3px;
                        -moz-border-radius-bottomright: 3px;
                        -webkit-border-bottom-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                    &.right {
                        right: 0;
                        -moz-border-radius-topleft: 3px;
                        -webkit-border-top-left-radius: 3px;
                        border-top-left-radius: 3px;
                        -moz-border-radius-bottomleft: 3px;
                        -webkit-border-bottom-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }
                }
            }
            .wrap-linked-image {
                position: relative;
                a {
                    display: block;
                    text-align: center;
                    position: absolute; 
                    top: 50%;
                    margin: -10px auto 0;
                    left: 0;
                    right: 0;        
                    font-size: 26px;
                    color: #c7c7c7;
                    font-family: 'Playfair Display', serif;
                    font-style: italic;
                    .icon {
                        font-size: 32px;
                        color: #fff;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }
            }
            .wrap-video {
                position: relative;
                &:after {
                    content: "";
                    background: rgba(0, 0, 0, 0.3);
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: block;
                }
                .play-video {
                    top: 50%;
                    left: 50%;
                    margin: -50px 0 0 -50px;
                    cursor: pointer;
                    position: absolute;
                    padding-left: 10px;
                    z-index: 5;
                    span {
                        width: 82px;
                        height: 82px;
                        display: block;
                        background: url(../img/btn-play-white.png) center no-repeat;
                    }
                }
            }
            .wrap-post-description {
                text-align: left;
                padding: 20px 0 15px;
                margin-top: -1px;
                background: #fff;
                position: relative;
                .post-avatar {
                    position: absolute;
                    right: 65px;
                    top: -35px;
                    img {
                        width: 70px;
                        height: 70px;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                        border: 5px solid white;
                    }
                }
                .meta {
                    padding: 15px 0;
                    margin-bottom: 25px;
                    border-bottom: 1px solid #eff2f7;
                    .meta-item {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 11px;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: #666666;
                        margin-right: 10px;
                        font-family: Raleway, sans-serif;
                        .icon {
                            font-size: 11px;
                            margin-right: 7px;
                            vertical-align: middle;
                            color: #666666;
                        }
                    }
                }

            }
            .post-body {
                h2 {
                    font-size: 22px; 
                    color: #333333;
                    font-weight: bold;
                    text-transform: uppercase;
                    position: relative;
                    margin-bottom: 20px;
                    &:after {
                        content: "";
                        display: block;
                        margin-top: 20px;
                        width: 25px;
                        height: 4px;
                        background: $orange;
                    }
                }
                p {
                    color: #666666;
                    font-size: 12px;
                    font-family: Raleway, sans-serif;
                }
                img {
                    max-width: 100%;
                    margin-bottom: 15px;
                }
                blockquote, .blockquote {
                    border: 1px solid #eeeeee;
                    padding: 50px;
                    position: relative;
                    background: #fff;
                    -webkit-box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.08);
                    -moz-box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.08);
                    box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.08);
                    font-family: 'Playfair Display', serif;
                    font-style: italic;
                    color: #666666;
                    font-size: 16px;
                    line-height: 30px;
                    margin: 0 15px 30px;
                    &:before {
                        content: "";
                        width: 40px;
                        height: 34px;
                        display: block;
                        position: absolute;
                        top: -20px;
                        background: url(../img/quote-orange.png) center no-repeat;
                        right: 50px;
                    }
                    .author {
                        padding-top: 20px;
                        font-size: 13px;
                        color: #999999;
                        text-transform: uppercase;
                        font-style: normal;
                        font-family: Monserat, sans-serif;
                    }
                }
            }
        }

    }

}